$TTL 8h
@ IN SOA dns.{{ dns_role_named_dns_prefix }}.{{ dns_role_named_dns_name }}. root.{{ dns_role_named_dns_name }}. (
					2	; serial
					1D	; refresh
					3H	; retry
					3d	; expire
					3H )	; minimum

                IN NS   dns.{{ dns_role_named_dns_prefix }}.{{ dns_role_named_dns_name }}.
dns.{{ dns_role_named_dns_prefix }}   IN A    {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
{% for entry, ip in dns_role_named_dns_entries.items() %}
{{ entry }}  IN A    {{ ip }}
{% endfor %}